.jumbotron {
  background: #532F8C;
  color: white;
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.jumbotron h1 {
  font-size: 40px;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #ddffff;
  border-radius: 75%;
  padding: 10px;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: auto;
  border: 5px solid #4a91ff;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}

.error{
  color: red;
}

form dl {
  display: inline-block;
}