@(reg: String, form: Form[Reading])(implicit messages: Messages, requestHeader: RequestHeader)

   @import utils.ViewUtils._
   @import views.html.helper.CSRF

    @main(Some(reg)) {

        <p>Today's date will be recorded if the date field is left blank.</p>

        @form.error("reg").map { error =>
            <p class="error">
                @messages("reg." + error.message, error.args:_*)
            </p>
        }

        @helper.form(action = routes.ReadingsController.saveReading(reg), 'id -> "frm-add-reading") {
            @CSRF.formField
            @helper.inputText(form("date"), '_label -> "Refuel date", 'placeholder -> "YYYY/MM/DD")
            @helper.inputText(form("miles"), '_label -> "Miles*", 'required -> true)
            @helper.inputText(form("mileage"), '_label -> "Total mileage*", 'required -> true)
            @helper.inputText(form("liters"), '_label -> "liters*", 'required -> true)
            @helper.inputText(form("cost"), '_label -> "Cost*", 'required -> true)
            <button type="submit" name="reg" value="@reg">Submit</button>
        }
    }
