@import models.forms.FormWithRadioButtonsModel
@(reg: String, form: Form[FormWithRadioButtonsModel])(implicit messages: Messages)

    @main(Some(reg)) {

        @helper.form(action = routes.RadioButtonsAndTextController.save(), 'id -> "frm-radio-buttons") {
            @helper.inputRadioGroup(
                form("yesNo"),
                options = Seq("true" -> "Yes!", "false" -> "Nope"),
                '_error -> form("yesNo").error.map(code => messages(code.key)),
                '_label -> "Here you must make a difficult choice, no way out"
            )

            @helper.inputText(form("textField"), '_label -> "if you answered 'Yes' above, please provide reasons")
            <button type="submit">Save</button>
        }
    }
