@(reg: Registration, form: Form[Reading])(implicit messages: Messages)

   @import utils.ViewUtils._

    @main(Some(reg)) {

        <p>Today's date will be recorded if the date field is left blank.</p>

        @form.error("reg").map { error =>
            <p class="error">
                @messages("reg." + error.message, error.args:_*)
            </p>
        }

        @helper.form(action = routes.ReadingsController.saveReading(reg)) {
            @helper.inputText(form("date"), '_label -> "Refuel date", 'placeholder -> "YYYY/MM/DD")
            @helper.inputText(form("mi"), '_label -> "Miles*", 'required -> true)
            @helper.inputText(form("total"), '_label -> "Total mileage*", 'required -> true)
            @helper.inputText(form("litres"), '_label -> "Litres*", 'required -> true)
            @helper.inputText(form("cost"), '_label -> "Cost*", 'required -> true)
            <button type="submit" name="reg" value="@reg">Submit</button>
        }
    }
