@(implicit reg: String)

<div id="chart-avgc" class="ct-chart"></div>
<div id="chart-mpg" class="ct-chart"></div>
<div id="chart-fuelcost" class="ct-chart"></div>

<link rel="stylesheet" href="@routes.Assets.versioned("libs/chartist/chartist.min.css")">
<script src="@routes.Assets.versioned("libs/moment.js/moment.min.js")"></script>
<script src="@routes.Assets.versioned("libs/chartist/chartist.min.js")"></script>


<script>
        $.get('@routes.ReadingsController.list(reg)').done(function (data) {

            var fuelEconomy = $.map(data.readings, function (e) {
                return {x: new Date(e.timestamp), y: e.avgC}
            });
            new Chartist.Line('#chart-avgc', {
                series: [
                    { name: data.reg + ' fuel economy', data: fuelEconomy},
                    { name: data.reg + ' fuel economy', data: fuelEconomy}
                ]
            }, {
                axisX: {
                    type: Chartist.FixedScaleAxis,
                    divisor: 10,
                    labelInterpolationFnc: function (value) {
                        return moment(value).format('MMM YYYY');
                    }
                },
                lineSmooth: Chartist.Interpolation.cardinal({
                    tension: 2,
                    fillHoles: true
                }),
                fullWidth: true,
                chartPadding: {
                    right: 20
                },
                showPoint: false
            });


            var fuelEconomyMpg = $.map(data.readings, function (e) {
                return {x: new Date(e.timestamp), y: e.mpg}
            });
            new Chartist.Line('#chart-mpg', {
                series: [
                    {
                        name: data.reg + ' fuel economy MPG',
                        data: fuelEconomyMpg
                    }
                ]
            }, {
                axisX: {
                    type: Chartist.FixedScaleAxis,
                    divisor: 10,
                    labelInterpolationFnc: function (value) {
                        return moment(value).format('MMM YYYY');
                    }
                },
                lineSmooth: Chartist.Interpolation.cardinal({
                    tension: 2,
                    fillHoles: true
                }),
                fullWidth: true,
                chartPadding: {
                    right: 20
                },
                showPoint: false
            });


            var fuelPrices = $.map(data.readings, function (e) {
                return {x: new Date(e.timestamp), y: e.costOfLitre}
            });
            new Chartist.Line('#chart-fuelcost', {series: [{name: 'fuel price per litre', data: fuelPrices}]}, {
                        axisX: {
                            type: Chartist.FixedScaleAxis,
                            divisor: 10,
                            labelInterpolationFnc: function (value) {
                                return moment(value).format('MMM YYYY');
                            }
                        },
                        lineSmooth: Chartist.Interpolation.cardinal({
                            tension: 2,
                            fillHoles: true
                        }),
                        fullWidth: true,
                        chartPadding: {
                            right: 20
                        },
                        showPoint: false
                    }
            );


        });

</script>
