@(summaries: Seq[VehicleRecordSummary], optUser: Option[UserId])

<h3><span class="glyphicon glyphicon-link"></span> Other Vehicles</h3>
<ul id="vehicle-list">

    @if(optUser.nonEmpty){
    <li>
        <label for="new-vehicle-input"></label><input type="text" placeholder="REG NO" id="new-vehicle-input" style="text-transform: uppercase">
        <a title="Click to log a reading for a new vehicle" data-href-template="@routes.VehicleController.newVehicle("string-template")" href="#">
            Create new vehicle</a>
    </li>
    }
    @for(s <- summaries) {
        <li>
            <a href="@routes.ReadingsController.listHtml(s.reg)" title="Show all recorded readings">@s</a>
        </li>
    }
</ul>