@(registration: Option[String], optUser:Option[UserId])(content: Html)(implicit requestHeader: RequestHeader)

<!DOCTYPE html>
<html>
    <head>
        <title>@Seq(registration, Some("Fuel Meter")).flatten.mkString(" - ")</title>
        <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.ico")" />
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("libs/bootstrap/3.3.4/css/bootstrap.min.css")" />
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" />
    </head>
    <body>
        <script src="@routes.Assets.versioned("libs/jquery/2.1.3/jquery.min.js")"></script>

        <div class="jumbotron text-center">
            <div class="container">
                <h1>
                @registration.getOrElse("Welcome!")
                </h1>
                <a href="@routes.ReadingsController.index()" class="lang-logo">
                    <img src="@routes.Assets.versioned("images/car.png")" />
                </a>
            </div>
            <div>
                <p id="auth-elements">
                @if(optUser.isEmpty) {
                    <a href="@routes.OAuthController.signIn()">
                        <img src="@routes.Assets.versioned("images/sign-in-with-twitter-gray.png")" />
                    </a>
                } else {
                    <a href="@routes.UserProfileController.viewProfile()">View your profile</a>
                    or
                    <a href="@routes.OAuthController.signOut()">Sign out</a>
                }
                </p>
            </div>
        </div>
        <div class="container">
        @content
        </div>

        <script src="@routes.Assets.versioned("libs/bootstrap/3.3.4/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/site.js")"></script>
    </body>
</html>
