@(vm:ReadingsVM)(implicit requestHeader: RequestHeader)

@main(Some(vm.thisVehicle.reg), vm.optUser) {

    <div class="row">
    @if(vm.isOwner) {
        <a type="button" id="btn-add-reading" class="btn btn-lg btn-default" href="@routes.ReadingsController.captureForm(vm.thisVehicle.reg)">
            <span class="glyphicon glyphicon-flash"></span>
            Log a reading
        </a>
    }
    </div>

    <div class="row">

        <div class="col-md-6">
            <h3>
                <span class="glyphicon glyphicon-info-sign"></span>
                @vm.thisVehicle.vehicleDescription
            </h3>
            <p>@vm.thisVehicle</p>
            @charts(vm.thisVehicle.reg)

            @links(vm.otherVehicles, vm.optUser)

        </div>

        <div class="col-md-6">

            <table id="readings-list">
                <thead>
                    <th>Date</th>
                    <th>Miles</th>
                    <th>Mileage</th>
                    <th>Liters</th>
                    <th>Cost</th>
                    <th>l/100km</th>
                    <th>MPG</th>
                    <th title="Pence per mile">ppm</th>
                    <th>Fuel price (&pound;)</th>
                </thead>
                <tbody>
                @for(reading@Reading(r, d, m, t, l, c) <- vm.readings) {
                    <tr class="reading">
                        <td>@reading.formattedDate</td>
                        <td>@m</td>
                        <td>@t</td>
                        <td>@l</td>
                        <td>£@c</td>
                        <td>@reading.avgC</td>
                        <td>@reading.mpg</td>
                        <td title="Pence per mile">@reading.ppm</td>
                        <td>@reading.costOfLitre</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

    </div>

}
