@(reg: String, readings: List[Reading], summaries: Seq[VehicleRecordSummary])

@main(Some(reg)) {

    <div class="row">
        <div class="col-md-6">
            <h3>
                <span class="glyphicon glyphicon-info-sign"></span>
                @reg
            </h3>

            <p>Figures logged at each re-fuelling of vehicle @reg</p>
            <ul>
            @for(Reading(r, d, m, t, l, c) <- readings) {
                <li><em>@d</em> - <strong>@l litres</strong>
                    @m miles (@t total) <sub>cost: £@c</sub></li>
            }
            </ul>
        </div>
        @linksSideBar(summaries)
    </div>

}