@(reg: String, form: Form[Reading])(implicit messages: Messages, userId: UserId, requestHeader: RequestHeader)

    @import utils.ViewUtils._
    @import views.html.helper.CSRF

    @main(Some(reg), Some(userId)) {

        <p>Today's date will be recorded if the date field is left blank.</p>

        @form.globalError.flatMap(_.messages.headOption).map { errorKey =>
            <p class="error">
                @messages(errorKey)
            </p>
        }

        @form.error("reg").map { error =>
            <p class="error">
                @messages("reg." + error.message, error.args:_*)
            </p>
        }

        @helper.form(action = routes.ReadingsController.saveReading(reg), 'id -> "frm-add-reading") {
            @CSRF.formField
            @helper.inputText(form("date"), '_label -> "Refuel date", 'placeholder -> "YYYY-MM-DD")
            @helper.inputText(form("miles"), 'size -> 10, '_label -> "Miles*", 'required -> true)
            @helper.inputText(form("mileage"), 'size -> 20, '_label -> "Total mileage*", 'required -> true)
            @helper.inputText(form("liters"), 'size -> 10, '_label -> "Liters*", 'required -> true)
            @helper.inputText(form("cost"), 'size -> 10, '_label -> "Cost*", 'required -> true)
            <button type="submit" name="reg" value="@reg">Submit</button>
        }
    }
