@(reg: String, readings: Seq[Reading], summaries: Seq[VehicleRecordSummary])(implicit requestHeader: RequestHeader)

@main(Some(reg)) {

    <div class="row">

        <div class="col-md-6">
            <h3>
                <span class="glyphicon glyphicon-info-sign"></span>
                @reg
            </h3>
            @charts(reg)

            @links(summaries)

        </div>

        <div class="col-md-6">

            <table id="readings-list">
                <thead>
                    <th>Date</th>
                    <th>Miles</th>
                    <th>Mileage</th>
                    <th>Liters</th>
                    <th>Cost</th>
                    <th>l/100km</th>
                    <th>MPG</th>
                    <th title="Pence per mile">ppm</th>
                    <th>Fuel price (&pound;)</th>
                </thead>
                <tbody>
                @for(reading@Reading(r, d, m, t, l, c) <- readings) {
                    <tr class="reading">
                        <td>@reading.formattedDate</td>
                        <td>@m</td>
                        <td>@t</td>
                        <td>@l</td>
                        <td>£@c</td>
                        <td>@reading.avgC</td>
                        <td>@reading.mpg</td>
                        <td title="Pence per mile">@reading.ppm</td>
                        <td>@reading.costOfLitre</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

    </div>

}
