@(user: User)(implicit requestHeader: RequestHeader)

    @import utils.ViewUtils._
    @import views.html.helper.CSRF

    @main(None, showButtons = false, Some(user)) {

        <div class="row">
            <div class="col-md-6">
                <h1>Hello @user.userProfile.name</h1>
                <p>Based on information on your Twitter.com profile, we setup a minimal FuelMeter account for you.</p>

                <ul>
                    <li>
                        <img src="@user.userProfile.profileImageUrl" alt="profile picture" style="border-radius: 50%"/>
                        @user.userProfile.name
                    </li>
                    <li>@user.userProfile.location</li>
                    <li>First seen: @user.userProfile.createdAtFormatted</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h1>Your vehicles</h1>
                <ul>
                    @for(vehicle <- user.vehiclesOwned) {
                        <li>
                            <dl>
                                <dt style="font-size: large">
                                    <a type="button" class="btn btn-lg btn-primary" href="@routes.ReadingsController.listHtml(vehicle.reg)" title="View this vehicle's stats">
                                        <span class="glyphicon glyphicon-stats"></span>
                                        @vehicle.reg
                                    </a>
                                    <a href="@routes.ReadingsController.listHtml(vehicle.reg)" title="View this vehicle's stats">
                                     @vehicle.vehicleDescription
                                    </a>
                                </dt>
                                <dd>
                                    <p>
                                        <strong>@vehicle.reg</strong>
                                        <em>@vehicle.count</em> readings, <em>@vehicle.ls</em> liters burnt and &pound; <em>@vehicle.pounds</em> spent
                                    </p>
                                    @helper.form(action = routes.VehicleController.deleteVehicle(vehicle.reg), 'id -> "frm-delete-vehicle") {
                                        @CSRF.formField
                                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">
                                            <span class="glyphicon glyphicon-trash"></span> Delete vehicle and all readings
                                        </button>
                                    }
                                </dd>
                            </dl>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }