@import models.forms.AcmeProduct
@(form: Form[AcmeProduct])(implicit messages: Messages)
@import utils.ViewUtils._
@main(Some("ACME")) {
    <h1>ACME</h1>
    <h2>A Company that Makes Everything</h2>

    <h3>Add new product to our catalogue:</h3>

    @form.error("reg").map { error =>
        <p class="error">
            @messages("reg." + error.message, error.args: _*)
        </p>
    }

    @helper.form(action = controllers.acme.routes.AcmeController.saveProduct) {
        @helper.inputText(form("product"), '_label -> "Product Name", 'required -> true)
        @helper.inputText(form("price"), '_label -> "Price", 'required -> true)
        @helper.inputText(form("url"), '_label -> "Catalogue URL", 'placeholder -> "http://acme.com/products/1", 'required -> true)
        <button type="submit">Submit</button>
    }
}